#container {
    /* background-color: #b9b9b9; */
    height: 550px;
    width: 1024px;
    position: relative;
	margin-left: auto;
    margin-right: auto;
}
#wind_dir_gauge {
    background: url("../images/Wind.png");
    height: 150px;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 81px;
}
#wind_speed_gauge {
    background-color: orange;
    height: 75px;
    width: 150px;
    position: absolute;
    top: 200px;
    left: 81px;
}

#Temp_MinMax {
    position: absolute;
    top: 4px;
    left: 292px;
}

#Temp_Thermometer {
    position: absolute;
    top: 58px;
    left: 292px;
}

#Header {
    height: 50px;
    width: 320px;
    position: absolute;
    top: 4px;
    left: 352px;
}
#Current_Condition {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 1px;
    left: 1px;
}
#StationName {
    font-size: 20px;
    height: 48px;
    left: 51px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 268px;
}

#webcam {
    background-color: pink;
    height: 240px;
    width: 320px;
    position: absolute;
    top: 58px;
    left: 352px;
}

#App_Temp_MinMax {
    position: absolute;
    top: 4px;
    left: 682px;
}

#App_Temp_Thermometer {
    position: absolute;
    top: 58px;
    left: 682px;
}

#Pressure_gauge {
    background-color: yellow;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 792px;
}
#Humidity_gauge {
    background-color: orange;
    height: 75px;
    width: 150px;
    position: absolute;
    top: 200px;
    left: 792px;
}

#Temp_Graph {
    height: 300px;
    width: 600px;
    position: absolute;
	display:none;
	z-index:50;
}

#Wind_Graph {
    height: 400px;
    width: 750px;
    position: absolute;
	display:none;
	z-index:50;
}

#Rain_Graph {
    background-color: orange;
    height: 270px;
    width: 340px;
    position: absolute;
	display:none;
	z-index:50;
}
#DP {
    position: absolute;
    top: 304px;
    left: 41px;
}

#Almanac {
    background-color: yellow;
    height: 170px;
    width: 440px;
    position: absolute;
    top: 304px;
    left: 292px;
}

#rain {
    position: absolute;
    top: 304px;
    left: 762px;
}

#WindDir_num {
    left: 55px;
    position: absolute;
    text-align: center;
    top: 57px;
    width: 40px;
}

#GustDir_num {
    left: 55px;
    position: absolute;
    text-align: center;
    top: 73px;
    width: 40px;
}


.Square_MinMAx
{
width:50px;
height:50px;
}

.Thermometer {
width:50px;
height:240px;
/* background-color:green; */
}
.Thermoimages {
position:absolute;
top:0px;
left:0px;
width: 52px;
height: 242px;
}

.TValue {
    height: 25px;
    line-height: 25px;
    text-align: right;
    width: 50px;
}

.Tempvalue {
	bottom: 32px;
    font-size: 13px;
    left: 0;
    position: relative;
    text-align: center;
    width: 50px;
    z-index: 20;
}

.Side_Box {
    background-color: red;
    height: 170px;
    width: 220px;
}

.arrow {
position:absolute;
}

.TriangleUp {
	background: url("../images/MaxT.png") no-repeat;
    height: 10px;
    position: absolute;
    top: 5px;
    width: 10px;
}
.TriangleDown {
	background: url("../images/MinT.png") no-repeat;
    height: 10px;
    position: absolute;
    bottom: 5px;
    width: 10px;
}

.Thick {
position:absolute;
width:15px;
height:240px;
z-index:50;
top:0px;
}
.T {
    font-size: 10px;
    right: 5px;
    text-align: right;
    width: 15px;
}
.T1{
    position: relative;
    top: 75px;
}
.T2{
   position: relative;
    top: 68px;
}
.T3{
	position: relative;
    top: 62px;
}
.T4{
    position: relative;
    top: 55px;
}
.T5{
	position: relative;
    top: 48px;
}
.T6{
    position: relative;
    top: 40px;
}
.T7{
    position: relative;
    top: 34px;
}
.T8{
    position: relative;
    top: 26px;
}
.T9{
    position: relative;
    top: 19px;
	
}
.T10{
	position: relative;
	top: 11px;
}